body {
  text-align: center;
  background: #E8E8E8;
}

audio {
  width: 100%;
  margin: 50px 0 0 0;
}

.header {
  background: #252525;

  &__title {
    color: #E8E8E8;
    padding: 20px;
    font-weight: bold;
  }
}

#search-music {
  margin-top: 50px;
}

#search {
  height: 45px;
}

.playing,
.results {
  text-align: left;
}

.music {
  display: flex;
  flex-wrap: wrap;
}

.track {
  flex-basis: 18%;
  padding-top: 20px;
  margin: 20px 1%;
  background: white;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2); 

  &:hover {
    background: #252525;
    color: #E8E8E8;
    cursor: pointer;
  }

  &__img {
    max-width: 100%;
  }

  &__name {
    margin-top: 20px;
    padding: 0 10px;
  }

  &__artist {
    margin-top: 15px;
    font-weight: 600;
    padding: 0 10px;
  }
}

@media (max-width: 1000px) {
  .track {
    flex-basis: 23%;
  }
}

@media (max-width: 767px) {
  .track {
    flex-basis: 48%;
  }
}